!!! 5
html
	head
		title Prepros 4 Prepend Test
	body
		p Check your browser's console. It should have 4 lines stating:
		pre.
			d
			b
			c
			a
			own stuff
			z
			w
			x
			y
		script(src="prepros4.min.js")